*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 40px;
}

.container{
    width: 1000px;
    margin: auto;
    display: flex;
    border: 1px solid black;
}

/* header  */

header{
    background-color: aqua;
    padding: 10px;
}

.container.head{
    height: 50px;
    background-color: orange;
    margin: auto;
    display: flex;
}

.logo, .login{
    flex-grow: 1;
    border: 1px solid black;
}

.link{
    flex-grow: 3;
    border: 1px solid black;
}

/* hero  */

.section.hero{
    background-color: blue;
}

.box-hero{
    width: 800px;
    height: 400px;
    background-color: rgb(233, 112, 223);
    margin: auto;
}

/* section one & three */
.blu{
    height: 500px;
    background-color: rgb(35, 112, 226);
    flex-grow: 2;
}

.pink{
    height: 500px;
    background-color: rgb(235, 145, 172);
    flex-grow: 1;
}

/* section two  */
section.two{
    background-color: rgb(202, 202, 202);
}

.container.two{
    flex-direction: row-reverse;
}

/* section four  */
.section.four{
    background-color: rgb(202, 202, 202);
}

.container.green{
    height: 700px;
    background-color: green;
}

/* section five  */
.section.five{
    background-color: rgb(51, 47, 47);
}

.lft-box{
    height: 500px;
    background-color: rgb(214, 107, 139);
    flex-grow: 1;
}

.rght-box{
    height: 500px;
    background-color: aqua;
    flex-grow: 2;
    display: flex;
}

.inside-rght{
    border: 1px solid black;
    width: calc(100% / 4);
}

/* footer  */
footer{
    background-color: rgb(51, 47, 47);
    padding: 15px 0 0 0;
    border-top: 2px solid gray;
}

.container.footer{
    height: 50px;
    background-color: aquamarine;
    justify-content: space-between;
    align-items: center;
}

.logo-btm{
    height: 45%;
    background-color: rgb(214, 107, 139);
    font-size: 12px;
    padding: 4px;
    
}

button{
    height: 45%;
    background-color: rgb(214, 107, 139);
    font-size: 12px;
    padding: 4px;
}