*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header  */

header{
    background-color: aqua;
    padding: 10px;
}

.container{
    width: 1000px;
}

.container.head{
    height: 50px;
    background-color: orange;
    margin: auto;
    display: flex;
}

.logo, .login{
    flex-grow: 1;
    border: 1px solid black;
}

.link{
    flex-grow: 3;
    border: 1px solid black;

}

/* hero  */

.section.hero{
    background-color: blue;
    padding: 40px;
}

.box-hero{
    width: 800px;
    height: 400px;
    background-color: rgb(233, 112, 223);
    margin: auto;
}